<h1>My Discounts</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %><br>
    <%= link_to 'Delete this Discount', merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    <p>Discount Percentage: <%= discount.discount_percentage %>% -
    Discount Quantity Threshold: <%= discount.quantity %></p>
  </section>
<% end %>

<%= link_to 'Create a New Discount', new_merchant_bulk_discount_path(@merchant) %>

<h1>Upcoming Holidays</h1>
<% UpcomingHolidaysServices.new.holidays.each do |holiday| %>
  <p><%= holiday[:date] %> - <%= holiday[:name] %>
<% end %>
